{% extends "base.html" %}

{% block main %}

    <div id="main_text">
        <p id="life">
            Born and raised 
        </p>

        <h2>Studies</h2>
        <ul class="bullets">
            <li>Study 1</li>
            <li>Study 2</li>
            <li>Study 3</li>
        </ul>

        <h2>Group Exhibitions (selection)</h2>
        <ul class="bullets">
            <li>2009: MOMA</li>
            <li>2010: Louvre</li>
            <li>2011: Smithsonian</li>
        </ul>

        <h2>Solo Shows</h2>
        <ul class="bullets">
            <li>2012: Tate</li>
        </ul>

        <h2>Residencies</h2>
        <ul class="bullets">
            <li>2008: NYU</li>
        </ul>

        <h2>Prizes</h2>
        <ul class="bullets">
            <li>2011: Nobel Prize for Art</li>
        </ul>

    </div>


{% end %}
