{% extends "base.html" %}

{% block main %}

<div id="news">
    <p class="link">
    <a href="#">
        News Item 1</a> </p>
    <div class="invitation">
        <img src="{{ baseurl }}/media/news_item_1_image.jpg" alt="" title="" />
    </div>
    <hr />
    <p class="link">
    <a href="#">
        News Item 2</a> </p>
    <div class="invitation">
        <img src="{{ baseurl }}/media/news_item_2_image.jpg" alt="" title="" />
    </div>
    <hr />
    <p class="link">
    <a href="#">
        News Item 3</a> </p>
    <div class="invitation">
        <img src="{{ baseurl }}/media/news_item_3_image.jpg" alt="" title="" />
    </div>
</div>


{% end %}
